<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section id="logged-out-view">
        <div class="container">
            <div id="disappear">
                <h1 class="app-title">Get Verification Link</h1>            
                <div class="auth-fields-and-buttons" >
                    <input id="email-input" type="email" placeholder="Email-Id" name="Email">
                    <input id="aadhar-input" type="text" placeholder="Aadhar Number">                
                    <button id="verify-btn" class="primary-btn">Verify</button>
                </div>
            </div>
            
            <div id="patient-details"></div>
        </div>
    </section>

    <script>
        document.getElementById('verify-btn').addEventListener('click', async function() {
            const aadharNumber = document.getElementById('aadhar-input').value;
            console.log(JSON.stringify({ aadharNumber: aadharNumber }));
            try {
                const response = await fetch('/searchPatient', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ aadharNumber: aadharNumber })
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                console.log(data);
                const patientDetailsDiv = document.getElementById('patient-details');
                patientDetailsDiv.innerHTML = `
                    <h2>Patient Details</h2>
                    <p>Name: ${data.Name}</p>
                    <p>Age: ${data.Age}</p>
                    <p>Gender: ${data.Gender}</p>
                    <p>Blood Group: ${data.BloodGroup}</p>
                    <p>Medical Condition: ${data.MedicalCondition}</p>
                    <p>Hospital: ${data.Hospital}</p>
                    <p>Medication Allergy: ${data.MedicationAllergy}</p>
                `;
                const dissapear = document.getElementById('disappear');
                dissapear.setAttribute("style", "display: none;")
            } catch (error) {
                console.error('Error:', error);
            }
        });

    </script>
</body>



</html>
